.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    border-bottom: 1px solid var(--layout-border);
    background-color: var(--light-cyan);
}

.chat-header > h1 {
    margin-left: 2rem;
}

.logout-button {
    background-color: transparent;
    border: none;
    height: fit-content;
    margin-right: 2rem;
    font-size: 1rem;
}

.sidebar {
    position: absolute;
    left: 0;
    width: var(--sidebar-width);
    height: var(--content-height);
    border-right: 1px solid var(--layout-border);
    display: flex;
    flex-direction: column;
    background-color: var(--nyanza);
}

.sidebar h2 {
    text-align: left;
    margin: 0 0 0 1rem;
    padding: 0.5rem 0;
}

.rooms-subheader {
    display: block;
    width: 100%;
}

.rooms-display {
    overflow: auto;
    flex-grow: 1;
}

.room-detail {
    position: absolute;
    height: var(--content-height);
    width: calc(100% - var(--sidebar-width));
    left: var(--sidebar-width);
    background-color: var(--alabaster);
    display: flex;
    flex-direction: column;
}

.selected-room-name {
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid var(--layout-border);
    padding: 0.5rem 2rem;
}

.messages-display {
    overflow: auto;
    flex-grow: 1;
    transition: 0.3s;
}

.no-messages {
    color: var(--roman-silver);
    text-align: center;
}