:root {
	--layout-border: #ccc;
	--header-height: 5rem;
	--sub-header-height: 3rem;
	--content-height: calc(100vh - var(--header-height));
	--sidebar-width: 20rem;
	--bottom-height: 7rem;
	--roman-silver: #7D8491;
	--alabaster: #F2EFE4;
	--green-pantone: #18B447;
	--forest-green-web: #138A36;
	--pine-tree: #30321C;
	--nyanza: #E4FDE1;
	--red: #E16670;
	--lavender-web: #D8DAE9;
	--body-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
}

* {
	box-sizing: border-box;
}

body {
  	margin: 0;
  	font-family: var(--body-font);
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    	monospace;
}

button {
	cursor: pointer;
}

.auth-background {
	background-color: var(--alabaster);
	height: 100vh;
	width: 100vw;
}